009_Web-Technology-Codes/006_XML-File/Students.xsd

<!-- 
    XML Schema Definition (XSD) for Students XML File 

    XSD is used to define the structure, constraints, and data types for an XML document. 
    It ensures that the XML follows a predefined format, making it valid and structured properly.

    - `xs:schema`: Root element defining the XSD.
    - `xs:element name="Students"`: Defines the root element of the XML file.
    - `xs:complexType`: Represents elements that contain other nested elements.
    - `xs:sequence`: Ensures elements appear in the specified order.
    - `maxOccurs="unbounded"`: Allows multiple occurrences of the "Student" element.
    - `minOccurs="0"`: Specifies that "Student" elements are optional.
    - `xs:long` & `xs:string`: Define data types for respective elements.
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Root element "Students" containing multiple "Student" elements -->
  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>

        <!-- "Student" element, which can appear multiple times -->
        <xs:element name="Student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>

              <!-- EnrolmentNumber should be a long integer -->
              <xs:element type="xs:long" name="EnrolmentNumber"/>

              <!-- Name should be a string -->
              <xs:element type="xs:string" name="Name"/>

              <!-- MobileNumber should be a long integer -->
              <xs:element type="xs:long" name="MobileNumber"/>

              <!-- EmailId should be a string -->
              <xs:element type="xs:string" name="EmailId"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
